.error {
    .error-holder {
        @include flex-center(column, center);
        height: 100vh;
        background: $defPurpleGradient;

        h1 {
            color: white;
            font-size: 60px;
            text-transform: uppercase;
            text-align: center;
        }

        strong {
            color: white;
            font-size: set-size(md);
            text-transform: capitalize;
        }
    }

    footer {
        margin: 0;
    }
}